[Desktop Entry]
Type=Application
Name=Install KINGAI OS
GenericName=Operating System Installer
Comment=Install KINGAI OS Desktop on this computer
Exec=bash /usr/lib/kingai/kingai-installer-gui
Icon=system-software-install
Terminal=false
Categories=System;Settings;
Keywords=install;installer;system;KINGAI;
StartupNotify=true
OnlyShowIn=KDE;
